apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "garment-simulation.fullname" . }}
  labels:
    {{- include "garment-simulation.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "garment-simulation.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
        checksum/config-map: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    {{- end }}
      labels:
        {{- include "garment-simulation.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "garment-simulation.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.command }}
          command: 
            {{ .Values.command | toYaml | nindent 12 }}
          {{- else }}
          command: ["/app/garment-simulation-worker"]
          {{- end}}
           
          env:
            - name: SERVICE_PORT
              value: {{ .Values.service.port | quote }}
          envFrom:
            {{- include "garment-simulation.envFrom" . | nindent 12 }}
          ports:
            - name: app
              containerPort: 8000
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
